body {
    background-color: black;
}
.card {
    background-color: white;
    color: black;
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.top-left {
    display: flex;
    flex-direction: row;
}
.top-right {

}
.image {
    height: 600px;
    background-image: url("https://placehold.co/700x600");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.icone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icone-left {
    display: flex;
    flex-direction: row;
}
button {
    height: 20px;
    width: 20px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 10px;   
}
.you_are_giving_me_problem{
    margin: 0px;
}
.you_are_giving_me_problem1{
    margin-top: 10px;
}